
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  

  <a class="navbar-brand" href="#">Rubypractice</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to 'Home', root_path %>   
      <%= link_to 'About Us', home_about_path%> 
      <%=link_to 'Log in', new_user_session_path %>
      <%= link_to 'Join', new_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%= link_to 'Edit', edit_user_password_path %>
  
  </div>
</nav>